@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}
:root {
  --primary: rgb(15, 12, 31);
  --secondary:rgb(148, 144, 144);
}

body {
  height: 100vh;
  background-color: var(--primary);
}
.container {
  width: 500px;
  margin: 50px auto;
  /* border: 1px solid white; */
  text-align: center;
 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.container h3{
    color: white;
}
.wrapper {
  width: 200px;
  height: 200px;
  padding: 10px;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid rgb(14, 10, 39);
  box-shadow: 20px 20px 30px rgb(7, 6, 18), 40px 40px 60px rgb(7, 6, 18),
    inset 40px 40px 90px rgb(7, 6, 18), inset 10px 10px 30px rgb(7, 6, 18);
}
.box {
  position: absolute;
  width: 15px;
  height: 50%;

  /* border: 1px solid yellow; */
  left: 50%;
  top: 0;
  translate: -50% 0%;
  transform-origin: bottom;
  rotate: 180deg;
}
.trait {
  position: absolute;

  width: 2px;
  height: 10px;
  background-color: var(--secondary);
  left: 50%;
  top: 5px;
  translate: -50% 0%;
}
.box span {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
color:var(--secondary) ;
  transform-origin: center;
}
.hours,.minutes,.seconds {
  position: absolute;
  background-color: azure;
  translate: -50% 0%;
  transform-origin: bottom;
  rotate: 0deg;
}
.hours {
  width: 4px;
  height: 30%;
  top: 20%;
  left: 50%;
  border-radius: 5px;
}
.minutes {
    width: 2px;
    height: 35%;
    top: 15%;
    left: 50%;
    border-radius: 5px;
    rotate: 30deg;
}
.seconds {
    width: 1px;
    height: 40%;
    background-color: red;
    top: 10%;
    left: 50%;
    border-radius: 5px;
    rotate: 60deg;
}
.point{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10;
}
